
:root {
    /* https://www.color-hex.com/color-palette/32801 */
    --light-green: #c7e0de;
    --dark-green: #bfd5d5;
    --blue:  	#b5c6cf;
    --light-grey: #adb6c2;
    --dark-grey: #9ca4b2;
}
@font-face {
    font-family: "FOT-NewRodinProEB";
    src: url("fonts/FOT-NewRodinProEB.otf") format("opentype");
    /* font-weight: bold; */
    /* font-style: normal; */

}

/* For mobile phones: */



* {
    /* border-radius: 10px; */
    /* color: rgb(42, 42, 42); */
    font-family: "FOT-NewRodinProEB";
}


/* Rounded Pixelated Corners */
header, nav, section, #div_wrapper {
    /* https://pixelcorners.lukeb.co.uk/?radius=10&multiplier=4 */
    padding-left: 25px;
    padding-bottom: 5px;
    /* padding-top: 1px; */
    clip-path: polygon(
        0px calc(100% - 28px),
        4px calc(100% - 28px),
        4px calc(100% - 20px),
        8px calc(100% - 20px),
        8px calc(100% - 12px),
        12px calc(100% - 12px),
        12px calc(100% - 8px),
        20px calc(100% - 8px),
        20px calc(100% - 4px),
        28px calc(100% - 4px),
        28px 100%,
        calc(100% - 28px) 100%,
        calc(100% - 28px) calc(100% - 4px),
        calc(100% - 20px) calc(100% - 4px),
        calc(100% - 20px) calc(100% - 8px),
        calc(100% - 12px) calc(100% - 8px),
        calc(100% - 12px) calc(100% - 12px),
        calc(100% - 8px) calc(100% - 12px),
        calc(100% - 8px) calc(100% - 20px),
        calc(100% - 4px) calc(100% - 20px),
        calc(100% - 4px) calc(100% - 28px),
        100% calc(100% - 28px),
        100% 28px,
        calc(100% - 4px) 28px,
        calc(100% - 4px) 20px,
        calc(100% - 8px) 20px,
        calc(100% - 8px) 12px,
        calc(100% - 12px) 12px,
        calc(100% - 12px) 8px,
        calc(100% - 20px) 8px,
        calc(100% - 20px) 4px,
        calc(100% - 28px) 4px,
        calc(100% - 28px) 0px,
        28px 0px,
        28px 4px,
        20px 4px,
        20px 8px,
        12px 8px,
        12px 12px,
        8px 12px,
        8px 20px,
        4px 20px,
        4px 28px,
        0px 28px
    );
}

html {
    scroll-behavior: smooth;
}
header {
    background-color: var(--dark-green);
}
body {
    background-color: var(--light-green);
    font-weight: 100;
    position: absolute;
}
#content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: green;
}

@media (min-width: 600px) {
    nav {
        overflow: hidden auto;
        position: sticky;
        top: 24px;
        box-sizing: border-box;
        max-height: calc(100vh - (24px * 2));
        width: 200px;
        margin-right: .5em;
    }
    #content {
        flex-direction: row;
    }
    main {
        margin-left: .5em;
    }
}

nav {
    font-size: 12px;
    width: auto;
    padding-left: 0;
    background-color: orange;
}
#div_wrapper {
    background-color: var(--blue);
    margin-left: 0;
}
main {
    flex: 1;
    min-width: 400px;
    /* margin: 0 0 0 .5em; */
}
section {
    background-color: var(--dark-grey);
}
footer {
    background-color: var(--dark-green);
}

